@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&display=swap');

#menuContainer{
    max-width:'80%';
}

#selectPlayersModelBody {
	height: 70vh;
	overflow-y: auto;
}

.hidden{
    display: none !important;
}

.selectedPlayer {
    border: 2px;
    border-radius: 6px;
    border-style: solid;
}

.notSelectedPlayer, .selectedPlayer, .lineupListGroupItem{
    width: 100%;
}

.lineupListGroupItem{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.lineupListGroupItemBottom{
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
