@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  max-width: 390px;
  margin: 0 auto;
  font-family: 'DM Sans', sans-serif;
}

button {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
}

.login {
  height: 100vh;
  background-color: #94A684;
}

.login h1 {
  text-align: center;
  font-weight: 900;
  font-size: xx-large;
  margin: 0;
  padding: 20px 0;
}

.login form {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  width: 80%;
  margin: 0 auto;
  gap: 10px;
}

.login form input {
  height: 1.5rem;
  border-radius: 5px;
}

.login form button {
  background-color: #FFF;
  font-size: 1em;
  padding: 0.25em 0;
  border-radius: 5px;
  margin-top: 10px;
}