@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  max-width: 390px;
  margin: 0 auto;
  font-family: 'DM Sans', sans-serif;
}

button {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
}

.login, .menu {
  height: 100vh;
  background-color: #94A684;
  padding: 0 15px;
}

.login h1, .menu h1, .new-game h1 {
  text-align: center;
  font-weight: 900;
  font-size: xx-large;
  margin: 0;
  padding: 20px 0;
}

.login form {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  width: 80%;
  margin: 0 auto;
  gap: 10px;
}

.login form input {
  height: 1.5rem;
  border-radius: 5px;
}

.login form button {
  background-color: #FFF;
  font-size: 1em;
  padding: 0.25em 0;
  border-radius: 5px;
  margin-top: 10px;
}

.menu .menu-buttons {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  gap: 20px;
}

.menu .menu-buttons .link-button {
  text-decoration: none;
  color: black;
  text-align: center;
  border: 1px solid black;
  background-color: white;
  padding: 0.25em 0;
  border-radius: 5px;
}

.menu .menu-buttons .link-button:active {
  color: black;
}

.new-game {
  background-color: #94A684;
  padding: 0 15px 15px 15px;
  min-height: 100vh;
}

.new-game-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-game-form .players-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #94A684;
  padding: 4em 5em;
  border-radius: 10px;
  border: 1px solid black;
}

.new-game-form .players-form h1{
  text-align: center;
  margin: 0;
}

.new-game-form .players-form input {
  border-radius: 5px;
  border: 1px solid black;
  padding: 4px 5px;
}

.new-game-form .players-form-button {
  color: white;
  text-align: center;
  border: none;
  background-color: black;
  padding: 0.3em 0.7em;
  border-radius: 5px;
}

.new-game h2 {
  font-weight: 700;
  font-size: x-large;
  margin: 1rem 0;
}

.new-game.blurred {
  filter: blur(3px);
  pointer-events: none;
}

.new-game .offense-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new-game .offense-heading div {
  display: flex;
  gap: 10px;
}

.new-game .offense-heading div button {
  color: white;
  text-align: center;
  border: none;
  background-color: black;
  padding: 0.3em 0.7em;
  border-radius: 5px;
}

.new-game .offense-heading .layout {
  padding: 0.3em 0;
  width: 2em;
}

.new-game .offense-heading .toggle {
  width: 5em;
}

.new-game .players-list {
  font-size: larger;
  background-color: white;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.new-game .offense-boxes {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
}

.new-game .offense-boxes .box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.new-game .offense-boxes .box.two-box {
  width: 48%;
}

.new-game .offense-boxes .selected {
  box-shadow: 0px 0px 10px 2px black;
}

.new-game .offense-boxes .box .upperbox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: medium;
  padding: 5px;
  border-bottom: 1px solid black;
}

.new-game .offense-boxes .box .upperbox .player-name{
  width: 35%;
  padding-left: 0.2em
}

.new-game .offense-boxes .box .upperbox .player-average{
  width: 15%;
  text-align: center;
}

.new-game .offense-boxes .box.two-box .upperbox .player-average{
  width: 25%;
  text-align: center;
}

.new-game .offense-boxes .box .upperbox .player-sbs, .player-rbis{
  width: 20%;
  text-align: center;
}

.new-game .offense-boxes .box .lowerbox{
  font-size: small;
  padding: 5px;
  min-height: 3em;
}

.new-game .offense-good-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.new-game .offense-good-buttons button {
  color: white;
  text-align: center;
  border: 1px solid black;
  background-color: green;
  padding: 0.25em 0;
  border-radius: 5px;
  width: 8.5em;
}

.new-game .offense-sbs-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.new-game .offense-sbs-buttons button {
  color: white;
  text-align: center;
  border: 1px solid black;
  background-color: blue;
  padding: 0.25em 0;
  border-radius: 5px;
  width: 100%;
}

.new-game .offense-rbis-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.new-game .offense-rbis-buttons button {
  color: white;
  text-align: center;
  border: 1px solid black;
  background-color: purple;
  padding: 0.25em 0;
  border-radius: 5px;
  width: 100%;
}

.new-game .offense-bad-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.new-game .offense-bad-buttons button {
  color: white;
  text-align: center;
  border: 1px solid black;
  background-color: red;
  padding: 0.25em 0;
  border-radius: 5px;
  width: 100%;
}

.new-game .offense-player-selector {
  display: none;
}

.new-game .form-submit-stats {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  width: 80%;
  margin: 0 auto;
  gap: 10px;
}

.new-game .form-submit-stats input {
  height: 1.5rem;
  border-radius: 5px;
}

.new-game .form-submit-stats button {
  background-color: #FFF;
  font-size: 1em;
  padding: 0.25em 0;
  border-radius: 5px;
  margin: 10px 0px;
}