@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&display=swap');

body{
    min-width: 250px;
}

#menuContainer{
    max-width:'80%';
}

#selectPlayersModelBody {
    height: 80vh;

    @media screen and (max-height: 750px) {
        height: 72vh;
    }

    @media screen and (max-height: 600px) {
        height: 67vh;
    }

    @media screen and (max-height: 450px) {
        height: 54vh;
    }
	
	overflow-y: auto;
}

.hidden{
    display: none !important;
}

.selectedPlayer {
    border: 2px;
    border-radius: 6px;
    border-style: solid;
}

.notSelectedPlayer, .selectedPlayer, .lineupListGroupItem{
    width: 100%;
}

.lineupListGroupItem{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.lineupListGroupItemBottom{
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.grayBack {
    background-color: gray;
}

.borderTop{
    border-top: 1px solid lightgray;
}

.bi-person-plus{
    height: 100%;
    width: auto;
    margin-left: 0px !important;
}

.card > .list-group:first-child {
    border-top-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#lineup > * {
    height: 100%;
}

.maxHeight {
    height: 100% !important;
}

@media screen and (max-width: 500px) {
    .nav.nav-tabs > .nav-item > .nav-link {
        padding: 4px 8px !important;
    }
}
